section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.create-post {
  width: 500px;
  border: 1px solid;
  padding: 10px;
  margin: auto;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

.create-Post-Button {
  width: 100%;
  color: white;
  background-color: rgb(82, 82, 198);
}
